body {
	background-color: #118899;
}

.titleTopPadding {
	padding: 17px 0px 17px 0px;
}

.focusBackgroundColor {
	background-color: #33AABB;
}

.stretchToEnd {
	min-height: 100vh;
}

.centerTitle {
	text-align: center;
}

.buttonBackgroundColor {
	background-color: #55CCDD
}

.calmSpace {
	margin: auto;
	width: 80%;
}

.normalFontSize {
	font-size:1.5em;
}

.titleFontSize {
	font-size:5em;
}

a:link {
  color: #0055EE;
}

a:visited {
  color: #0055EE;
}

a:hover {
  color: #0066FF;
}

a:active {
  color: #0033CC;
}